In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Bad key "text.kerning_factor" on line 4 in
/Users/aryehgelfand/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [4]:
df = pd.read_csv('data.csv')
df = df.rename(columns={'Unnamed: 0': 'year',"Estimated Value":"target"})
df = df.set_index('year')
df.shape

(888, 1397)

In [5]:
df.dropna(axis='columns',inplace=True)

In [7]:
df

,"('FISHCOUNT', 'Afognak River (Litnik)')","('FISHCOUNT', 'Alagnak River')","('FISHCOUNT', 'Chignik River')","('FISHCOUNT', 'Coghill River')","('FISHCOUNT', 'Copper River (Miles L)')","('FISHCOUNT', 'Dog Salmon River')","('FISHCOUNT', 'Egegik River')","('FISHCOUNT', 'Eshamy Creek')","('FISHCOUNT', 'Fish Creek')","('FISHCOUNT', 'Gulkana River')",...,"('Average Exvessel Price per Pound', 'Prince William Sound Chinook')","('Average Exvessel Price per Pound', 'Prince William Sound Sockeye')","('Average Exvessel Price per Pound', 'Southeast Pink')","('Average Exvessel Price per Pound', 'Southeast Chum')","('Average Exvessel Price per Pound', 'Southeast Coho')","('Average Exvessel Price per Pound', 'Southeast Chinook')","('Average Exvessel Price per Pound', 'Southeast Sockeye')","('Average Exvessel Price per Pound', 'Yukon Chum')","('Average Exvessel Price per Pound', 'Yukon Coho')","('Average Exvessel Price per Pound', 'Yukon Chinook')"
year,,,,,,,,,,,,,,,,,,,,,
1999-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.196449,1.685003,0.171220,0.205425,0.967010,1.647954,1.126149,0.187640,0.345713,3.706479
1999-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.189679,1.679578,0.171316,0.207054,0.963488,1.654193,1.121906,0.187160,0.344734,3.719302
1999-01-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.182908,1.674153,0.171413,0.208683,0.959966,1.660433,1.117663,0.186681,0.343754,3.732124
1999-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.176138,1.668728,0.171509,0.210313,0.956444,1.666672,1.113421,0.186201,0.342775,3.744947
1999-01-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.169368,1.663302,0.171606,0.211942,0.952922,1.672911,1.109178,0.185722,0.341796,3.757770

In [ ]:
mask = (df.iloc[:, 1:] == 0).sum(1) >= len(df.columns[1:]) / 2
df = df[~mask]

In [ ]:
df['target']

In [ ]:
df['target'].plot()
plt.title("Bristol Bay Drift Net Permit Pricing By 1999-2014 ")
plt.ylabel("Cost($)")
plt.xlabel("Week");
#plt.xticks(np.arange(min(df.index), max(df.index)+1, 80.0))

In [ ]:
df[df.columns[29:34]].plot();
plt.ylabel("Price($)")

In [ ]:
df[df.columns[75:84]].plot();
plt.legend(df[df.columns[75:84]], loc='center left', bbox_to_anchor=(1, 0.5));
plt.ylabel("Price($)");
plt.title("Price Per Pound By Area",size=(20))

In [ ]:
df[df.columns[336:351]].plot();
plt.legend(df[df.columns[336:347]], loc='center left', bbox_to_anchor=(1, 0.5))
plt.ylabel("Price($)")
plt.title("Bristol Bay Salmon Products By Year",size=(20))

In [ ]:
corr_df = pd.DataFrame(df.corr()['target'])# split up over .5 correlation coefficient
strong_pos = corr_df['target'] > .3# strong positive correlation
strong_pos_corr_df = corr_df[strong_pos]
strong_pos_corr_df.drop(index = 'target',inplace=True)

In [ ]:
strong_neg = corr_df['target'] < (-.8)
strong_neg_corr_df = corr_df[strong_neg]
#strong_neg_corr_df.drop(index = 'target',inplace=True)

In [ ]:
sns.set(style="whitegrid")# plot strong coefficient values
f, ax = plt.subplots(figsize=(20, 15))
sns.heatmap((strong_pos_corr_df.sort_values('target',ascending=False).head(10)),annot = True)
plt.title('Features Positive Correlation',{'fontsize': 20});

In [ ]:
sns.set(style="darkgrid")# plot strong coefficient values
f, ax = plt.subplots(figsize=(20, 15))
sns.heatmap((strong_neg_corr_df.sort_values('target',ascending=False).head(15)),annot = True)
plt.title('Features Negative Correlation',{'fontsize': 20});

In [ ]:
df[df.columns[608]].plot()
plt.title("US Seafood Supply Per Capita")
plt.ylabel("KG/Capita");

In [ ]:
food_supply = df[df.columns[410:621]]
mean_food = food_supply.mean()
mean_food.sort_values(ascending=False).head(10).plot(kind='barh')
plt.xlabel("Seafood Production Per Capita kg per Year")
plt.title("Top Seafood Producers per Capita")

In [ ]:
fish_farming = df[df.columns[621:841]]
mean_farm = fish_farming.mean()
mean_farm.sort_values(ascending=False).head(10).plot(kind='barh')
plt.xlabel("Aquaculture Metric Tons(Millions)")
plt.title("Aquaculture Metric Tons")

In [ ]:
df[df.columns[837]].plot()
plt.title("World Production of Aquaculture By Year")
plt.ylabel("Metric Tons");

In [ ]:
mean_fish = df[df.columns[841:1097]]
mean_fish = fishing.mean()
mean_fish.sort_values(ascending=False).head(10).plot(kind='barh')
plt.xlabel("Fishing Metric Tons(Millions)")
plt.title("Fishing Metric Tons")

In [ ]:
df[df.columns[1093]].plot()
plt.title("World Fishing Totals")
plt.ylabel("Metric Tons(millions)");

In [ ]:
df[df.columns[1113:1117]].plot();
plt.legend(df[df.columns[1113:1117]], loc='center left', bbox_to_anchor=(1, 0.5))
plt.ylabel("# of Companies")
plt.title("Processing Companies By Sockeye Product",size=(20))

In [ ]:
df[df.columns[1133:1137]].plot();
plt.legend(df[df.columns[1133:1137]], loc='center left', bbox_to_anchor=(1, 0.5))
plt.ylabel("Net Weigt for Sockeye AK(millions)")
plt.title("Net Weight for Sockeye Product AK",size=(20))

In [ ]:
df[df.columns[1117:1137]].plot()
plt.legend(df[df.columns[1117:1137]], loc='center left', bbox_to_anchor=(1, 0.5))
plt.ylabel("Net Weight for Salmon Products AK(millions)")
plt.title("Net Weight for Salmon Product AK",size=(20))

In [ ]:

df[df.columns[1137:1157]].plot()
plt.legend(df[df.columns[1137:1157]], loc='center left', bbox_to_anchor=(1, 0.5))
plt.ylabel("Wholesale Value Salmon Products ($)")
plt.title("Wholesale Value for Salmon Products",size=(20))

In [ ]:
top_regions = df[df.columns[1157:1211]]
mean = top_regions.mean()
mean.sort_values(ascending=False).head(10).plot(kind='barh')
plt.xlabel("Ex Vessel Value By Region AK")
plt.title("Top (Salmon Ex Vessel Value) Regions ($)")

In [ ]:
df[df.columns[1166]].plot()
plt.ylabel("Estimated Ex vessel Value for BB Sockeye")
plt.title("Wholesale Value for BB Sockeye",size=(20))

In [ ]:
top_regions = df[df.columns[1211:1265]]
mean = top_regions.mean()
mean.sort_values(ascending=False).head(10).plot(kind='barh')
plt.xlabel("# of Fish(Millions)")
plt.title("Top Salmon Regions By Number of Fish (Millions) Avg Years(1999-2014)");

In [ ]:
df[df.columns[1220]].plot()
plt.ylabel("Number of Returning BB Sockeye")
plt.title("# of Returning BB Sockeye 1999-2014",size=(20))

In [ ]:
top_regions = df[df.columns[1265:1319]]
mean = top_regions.mean()
mean.sort_values(ascending=False).head(10).plot(kind='barh')
plt.xlabel("AVG # of lbs By Year")
plt.title("Top Salmon Regions By lbs Avg Years(1999-2014)");

In [ ]:
df[df.columns[1274]].plot()
plt.ylabel("AVG # of lbs BB Sockeye")
plt.title("AVG # of lbs BB Sockeye 1999-2014",size=(20))

In [ ]:
top_regions = df[df.columns[1319:]]
mean = top_regions.mean()
mean.sort_values(ascending=False).head(15).plot(kind='barh')
plt.xlabel("price per Lb")
plt.title("Top Avg Exvessel Price/lb(1999-2014) AK");

In [ ]:
df[df.columns[1328]].plot()
plt.ylabel("price Per Pound ($)")
plt.title("Price Per Lb BB Sockeye 1999-2014",size=(20))

In [ ]:
df.to_csv("df_clean.csv")